* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    padding: 30px 0;
}

header nav {
    position: fixed;
    z-index:1000;
    background-color: black;
    width: 100%;
}
header nav ul {
    display: flex;
    /* On place les éléments à droite */
    justify-content: space-between;
    /* On retire les points */
    list-style-type: none;
    /* On met de l'espacement entre les éléments */
    gap: 20px;
    padding: 10px;
    
    a {
        text-decoration: none;
        color: white;
    }
}

/* On va s'occuper des images */

#menu div {
    margin: 30px 0;
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
}

#menu div div {
    margin: 10px 0;
    width: 300px;
    height: auto;
}

#menu div p {
    background-color:goldenrod;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;

}
#menu div div img {
    width: 100%;
    height: 100%;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

p {
    text-align: justify;
}


